body{
    background-color: black;
    margin: 0px;
    padding: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2rem;
}

#root{
    padding: 30px;
    background-color: azure;
}

button{
    padding: 10px 20px;
}